/* CSS Document */
body {height:100%;font:13px 'PT Sans', Arial, Tahoma, Verdana, Sans-Serif;color:#7c7d7d;background:#fff url(../images/body.jpg);}
div, html, body, p, ul, ol, li, a, form, img, table, td, h1, h2, h3, h4, h5, h6, blockquote, header, section, footer, aside, nav, article, figure, figcaption, dl, dt, dd {margin:0;padding:0;} 
header, section, footer, aside, nav, article, figure, figcaption {display: block;}
table {border-collapse:collapse;}
img {border:none;}
/*ul, li {list-style:none;}*/
a, a:active, a:visited {text-decoration:none;color:#3fa3c9;}
a:hover {text-decoration:none;color:#3fa3c9;}
input:focus, textarea:focus {outline:none;}

/*  wrapper  */
.footer footer:after, .wraper:after{content:'';display:block;height:0;clear:both;}
.wrapper, .footer footer{width:890px;margin:0 auto;display:flex;flex-direction:row;}
.bwWrapper {position:relative;display:block;}
.wrapper{border: 1px solid #CECECE;margin-top:100px;padding-top:20px;padding-bottom:2px;}


    /* preview */
.wrapper .preview{padding: 0 65px; width:550px;}
.wrapper .preview .mtime{font-style:italic;font-size:12px;font-family:Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;}
.wrapper .preview h2{background-image:-webkit-linear-gradient(left, #d5aad1,#d2c2d5,#89d5c8, #c0d57d);-webkit-background-clip:text;-webkit-text-fill-color:transparent;margin-top:8px;}
.wrapper .preview .large-pic{width:100%;margin-top:18px;}
.wrapper .preview .brief{width:100%;margin-top:8px;}
.wrapper .preview .brief p{line-height:1.5}
.wrapper .preview .continue p{line-height:1.5}
.wrapper .preview .title-container{margin-top:8px}
.wrapper .preview .editor-container{margin-top:8px}
.wrapper .preview .pic-uploader{margin-top:18px}

    /* list */
.wrapper .list{padding-top:20px; width:180px;}
.wrapper .list .btn-search{width:160px;height:32px;border:1px solid #F0F4F5;background-color:#F0F4F5;padding-left:12px;font-size:15px;color:#B2B2B3;border-radius:2px;}
    /* pic */
.wrapper .list .pic{padding:0;width:180px;float:left;margin-top:45px;}
.wrapper .list .pic ul{list-style:none;margin-top:15px;width:150px;}
.wrapper .list .pic ul li{float:left;width:25%;margin-bottom:2px;}
.wrapper .list .pic ul li img{border-radius:3px;}
    /* category */
.wrapper .list .category{padding: 0; width:180px;float:left;margin-top:25px;}
.wrapper .list .category ul{list-style:none;margin-top:15px;width:150px;}
.wrapper .list .category ul li{float:left;width:100%;margin-bottom:2px;}
    /* Timeline */
.wrapper .list .timeline{padding: 0; width:180px;float:left;margin-top:25px;}
.wrapper .list .timeline ul{list-style:none;margin-top:15px;width:150px;}
.wrapper .list .timeline ul li{float:left;width:100%;margin-bottom:2px;}
.wrapper .list .timeline ul li span{font-family: "Times New Roman";font-size:12px;}

    /* edit wrapper*/
.wrapper form{display:flex}
.wrapper form .edit-list .pre-pic{padding:0;width:180px;float:left;margin-top:45px;}
.wrapper form .edit-list .pre-pic ul{list-style:none;margin-top:15px;width:150px;}
.wrapper form .edit-list .pre-pic ul li{float:left;width:25%;margin-bottom:2px;}
.wrapper form .edit-list .pre-pic ul li img{border-radius:3px;}
.wrapper form .edit-list .category-edit{float:left;margin-top: 25px;}
.wrapper form .edit-list .category-edit .btn-category{width:160px;height:32px;border:1px solid #F0F4F5;background-color:#F0F4F5;padding-left:12px;font-size:15px;color:#B2B2B3;border-radius:2px;margin-top:15px;}
.wrapper form .edit-list .submit-form {float:left;margin-top:25px;width:180px}
.wrapper form .edit-list .submit-form input{width: 180px;height: 60px;}
.wrapper form .edit-list .submit-form input:hover{cursor:pointer}

    /* copyright */
.copyright {border-top:1px solid #e7e6e6;}
.copyright p {font-size:11px;padding:20px 0;}
.copyright p span:after, .copyright p a:before {content:'|';padding:0 5px;}
.copyright p a, .copyright p a:visited {color:#626363;}
.copyright p a:hover {color:#3fa3c9;}
.copyright .top, .copyright .top:visited {color:#626363;font-size:11px;position:absolute;top:20px;right:0;padding-right:12px;}
.copyright .top:hover {color:#3fa3c9;}
.copyright .top:after {content:'';position:absolute;top:5px;right:0;background:url(../images/sprite.png) 6px 0 no-repeat;display:block;width:12px;height:5px;}

/*b) 常用于稍微复杂的基本响应*/
/*@media all and (min-width:1200px){}*/
/*@media all and (min-width: 960px) and (max-width: 1199px) {}*/
/*@media all and (min-width: 768px) and (max-width: 959px) {}*/
/*@media all and (min-width: 480px) and (max-width: 767px){}*/
/*@media all and (max-width: 599px) {}*/
@media all and (max-width: 479px) {
    /* index */
    .wrapper{width:415px;flex-direction: column;border:none;margin: 10px auto;padding: 10px 10px;}
    .wrapper .preview{float:left;width:100%;padding:0;}
    .wrapper .list{float:left;width:100%;margin: 35px auto;}
    .wrapper .list .pic{margin-top:45px}
    .wrapper .list .category{margin-top:45px}
    /* post */
    .wrapper form{flex-direction:column}
    .wrapper .edit-list{float:left;width:100%;margin: 25px auto;}
    .wrapper form .edit-list .pre-pic{margin-top:25px}
}

/*c) 基于Bootstrap 3.x 全球主流框架*/
/*@media all and (max-width: 991px) { ... }*/
/*@media all and (max-width: 768px) { ... }*/
/*@media all and (max-width: 480px) { ... }*/

/*d) 基于Bootstrap 4.x 全球主流框架*/
/*@media (min-width: 576px) { ... }*/
/*@media (min-width: 768px) { ... }*/
/*@media (min-width: 992px) { ... }*/
/*@media (min-width: 1200px) { ... }*/

/*e) 常用于Retina屏幕图片适配(@2x)*/
/*@media(-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(min-resolution:1.5dppx){ ... }*/