<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="modules/jqueryConfirm/css/jquery-confirm.css">
    <script src="scripts/jquery.min.js"></script>
    <script src="modules/jqueryConfirm/js/jquery-confirm.js"></script>
    <style>
        .container{
            width:360px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div id="preview_container">
    <div class="preview">
        <input id="keep-pic-id" type="hidden" th:value="${article.picture.pic_id}">
        <div class="mtime"><span th:text="${#dates.format(article.create_time, 'M')}" style="color: #d59d62">May 20, 2014</span><span>月 </span><span th:text="${#dates.format(article.create_time, 'd')}" style="color: #3fa3c9"></span> <span style="font-size: 14px;color:#000;">/</span> <span id="click-number" style="color: #b77cdd" th:text="${article.picture.clicks}"></span> <span style="color:#626363">Clicks</span></div>
        <div class="top-title"><h2>STANDARD POST FORMAT</h2><div class="btn-article"><a href="edit">Edit</a><span style="margin: 0 2px;font-size:16px">|</span><a id="delArticle" href="delete">Delete</a></div></div>
        <div class="large-pic"><img th:src="${article.picture.pic}" alt="" width="100%"></div>
        <div class="brief" th:utext="${article.brief}">
            <p>Class aptent taciti ad litora torquent conubia nostra,per inceptos himenaoes.Sed moiestie augue sit amet leo consequat posuere.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilla Curae.Proin vet ante a orci tempus eleifend ut et magna.</p>
            <!--<p><a href="#">Continue Reading...</a></p>-->
        </div>
        <!--<div class="continue">-->
            <!--<p><a href="#">Continue Reading...</a></p>-->
        <!--</div>-->
    </div>
    </div>
    <div class="list">
        <!--<input type="text" placeholder="Search..." class="btn-search">-->
        <a href="post" class="post-link">Post Another Pic</a>
        <div id="pic_container">
            <div class="pic" th:if="not ${#lists.isEmpty(pictures)}">
                <h4>PHOTOSTRAM</h4>
                <ul>
                    <li th:each="picture, index : ${pictures}"><a href="javascript:void(0);" th:onclick="toPic([[${picture.pic_id}]])"><img th:src="${picture.pic}" width="32" height="32" alt="" ></a></li>
                </ul>
            </div>
        </div>
        <div class="category" th:if="not ${#lists.isEmpty(categories)}">
            <h4>CATEGORIES</h4>
            <ul>
                <li th:each="category, index : ${categories}"><a href="javascript:void(0);" th:text="${category.category}" th:onclick="toCategory([[${category.category_id}]])"></a></li>
            </ul>
        </div>
        <div class="timeline" th:if="not ${#lists.isEmpty(timeline)}">
            <h4>Timeline</h4>
            <ul>
                <li th:each="item, index : ${timeline}"><a href="javascript:void(0);" th:text="${item.timeString}" th:onclick="toTimeline([[${item.timeString}]])"></a><span>（[[${item.sumCoun}]]）</span></li>
            </ul>
        </div>
    </div>
</div>
<!-- 页面局部刷新 -->
<script type="application/javascript">
    // 点击图片刷新文章
    function toPic(pic_id) {
        var prior_pic_id = $("#keep-pic-id").val();
        //发出POST请求
        $.ajax({
            url:"/picture",
            data: {picId:pic_id,prior_pic_id:prior_pic_id},
            type: "POST",
            dataType: 'text',
            success: function (data) {
                $("#preview_container").html(data);
            },
            error:function (e) {
                alert("获取信息失败，请稍后重试！");
            }
        });
    }
    // 点击分类刷新图片列表
    function toCategory(category_id) {
        //发出POST请求
        $.ajax({
            url:"/category",
            data: {categoryId:category_id},
            type: "POST",
            dataType: 'text',
            success: function (data) {
                $("#pic_container").html(data);
            },
            error:function (e) {
                alert("获取信息失败，请稍后重试！");
            }
        });
    }
    // 点击时间线刷新图片列表
    function toTimeline(timeString) {
        //发出POST请求
        $.ajax({
            url:"/timeline",
            data: {timeString:timeString},
            type: "POST",
            dataType: 'text',
            success: function (data) {
                $("#pic_container").html(data);
            },
            error:function (e) {
                alert("获取信息失败，请稍后重试！");
            }
        });
    }
    // 绑定删除操作
    $("#delArticle").confirm({
        title: 'Deleting!',
        content: 'Are you sure you want to delete this article?',
        columnClass: 'col-md-4 col-md-offset-4',
        confirm: function(){
            $.alert('Confirmed!');
        },
        cancel: function(){
            $.alert('Canceled!')
        }
    });
</script>
</body>
</html>