<div class="preview" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="mtime"><span th:text="${#dates.format(article.create_time, 'M')}" style="color: #d59d62">May 20, 2014</span><span>月 </span><span th:text="${#dates.format(article.create_time, 'd')}" style="color: #3fa3c9"></span> <span style="font-size: 14px;color:#000;">/</span> <span style="color: plum" th:text="${article.picture.clicks}"></span> <span style="color:#626363">Clicks</span></div>
    <h2 style="margin-top:8px" >STANDARD POST FORMAT</h2>
    <div class="large-pic"><img th:src="${article.picture.pic}" alt="" width="100%"></div>
    <div class="brief" th:utext="${article.brief}">
        <p>Class aptent taciti ad litora torquent conubia nostra,per inceptos himenaoes.Sed moiestie augue sit amet leo consequat posuere.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilla Curae.Proin vet ante a orci tempus eleifend ut et magna.</p>
        <!--<p><a href="#">Continue Reading...</a></p>-->
    </div>
    <!--<div class="continue">-->
        <!--<p><a href="#">Continue Reading...</a></p>-->
    <!--</div>-->
</div>