<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.web.mapper.ArticleMapper">
    <resultMap id="Base_Result_Map_Article" type="com.lyl.web.entity.Article">
        <id column="article_id" jdbcType="BIGINT" property="article_id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="pic_id" jdbcType="BIGINT" property="pic_id" />
        <result column="brief" jdbcType="TIMESTAMP" property="brief" />
        <result column="create_time" jdbcType="VARCHAR" property="create_time" />
        <result column="modify_time" jdbcType="VARCHAR" property="modify_time" />
        <!-- 一对一关联：单向。方式三：使用resultMap引用。注意的是column名称必须与关联表select时的一致（需要修改关联表的select，所以更建议使用select引用方式（见下） -->
        <association property="picture" javaType="com.lyl.web.entity.Picture" resultMap="com.lyl.web.mapper.PictureMapper.Base_Result_Map_Picture"/>
    </resultMap>
    <select id="findArticleByPicId" parameterType="java.lang.Integer" resultMap="Base_Result_Map_Article">
        select a.article_id,a.title,a.brief,a.create_time,a.modify_time, p.pic_id,p.pic,p.category_id,p.clicks,p.create_time,p.modify_time
        from article a inner join picture p on a.pic_id = p.pic_id
        <where>
            <if test="_parameter != null">
                a.pic_id = #{_parameter}
            </if>
        </where>
    </select>
    <select id="findArticleById" parameterType="java.lang.Integer" resultMap="Base_Result_Map_Article">
        select a.article_id,a.title,a.brief,a.create_time,a.modify_time, p.pic_id,p.pic,p.clicks,p.category_id,p.create_time,p.modify_time
        from article a inner join picture p on a.pic_id = p.pic_id
        <where>
            <if test="_parameter != null">
                a.article_id = #{_parameter}
            </if>
        </where>
    </select>
    <insert id="insertNewArticle" useGeneratedKeys="true" keyProperty="article_id" parameterType="com.lyl.web.entity.Article">
        insert into article(title, pic_id, brief) values(#{title}, #{pic_id}, #{brief})
    </insert>
    <delete id="deleteArticleById" parameterType="java.lang.Integer">
        delete from article
        <where>
            <if test="_parameter != null">
                article_id = #{_parameter}
            </if>
        </where>
    </delete>
</mapper>