<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.web.mapper.BL_CommentMapper">
    <resultMap id="Base_Result_Map_CommentVo" type="com.lyl.web.vo.BL_CommentVO">
        <id column="b2_id" jdbcType="BIGINT" property="b2_id" />
        <result column="b2_pid" jdbcType="BIGINT" property="b2_pid" />
        <result column="b0_id" jdbcType="BIGINT" property="b0_id" />
        <result column="b1_id" jdbcType="BIGINT" property="b1_id" />
        <result column="b2_content" jdbcType="VARCHAR" property="b2_content" />
        <result column="b0_name" jdbcType="VARCHAR" property="b0_name" />
        <result column="create_time" jdbcType="VARCHAR" property="create_time" />
        <result column="modify_time" jdbcType="VARCHAR" property="modify_time" />
        <!--        <collection property="subCommentVOs" ofType="BL_CommentVO" column="{b2_pid=b2_id}" select="selectCommentsByPid"/>-->
    </resultMap>
    <!--添加评论-->
    <insert id="insertNewComment" useGeneratedKeys="true" keyProperty="b2_id" parameterType="com.lyl.web.entity.BL_Comment">
        insert into
            bl_comment(b0_id, b1_id, b2_content, b0_name, b2_pid)
        values(#{b0_id},#{b1_id},#{b2_content},#{b0_name},#{b2_pid})
    </insert>
    <!--查询父级评论-->
    <select id="findCommentByParentIdIsNull" parameterType="com.lyl.web.vo.BL_CommentVO" resultMap="Base_Result_Map_CommentVo">
        select *
        from bl_comment
        <where>
            b2_pid is null
            <if test="b1_id != null">
                and B1_ID = #{b1_id}
            </if>
        </where>
        order by create_time desc
    </select>
    <!--查询一级回复-->
    <select id="findCommentByParentIdIsNotNull" parameterType="com.lyl.web.vo.BL_CommentVO" resultMap="Base_Result_Map_CommentVo">
        select *
        from bl_comment
        <where>
             <if test="b2_id !=null">
                 b2_pid=#{b2_id}
             </if>
            <if test="b1_id != null">
                and B1_ID = #{b1_id}
            </if>
        </where>
        order by create_time
    </select>
    <!--查询二级以及所有子集回复-->
    <select id="findChildrenByParentId" parameterType="java.lang.Integer" resultMap="Base_Result_Map_CommentVo">
        select *
        from bl_comment
        <where>
            <if test="_parameter != null">
                b2_pid = #{_parameter}
            </if>
        </where>
        order by create_time
    </select>
    <!-- 根据ID查询评论信息 -->
    <select id="queryCommentById" parameterType="java.lang.Integer" resultMap="Base_Result_Map_CommentVo">
        select
        *
        from bl_comment
        <where>
            <if test="_parameter != null">
                B2_ID = #{_parameter}
            </if>
        </where>
    </select>
    <!-- 侧边栏评论 -->
    <select id="queryCommentsForSideBar" parameterType="com.lyl.web.vo.BL_CommentVO" resultMap="Base_Result_Map_CommentVo">
        select
        b2_id,
        b2_pid,
        b0_id,
        b1_id,
        b2_content,
        create_time,
        modify_time
        from bl_comment
        <where>
            <if test="b2_id != null">
                and b2_id = #{b2_id}
            </if>
            <if test="b2_pid != null">
                and b2_pid = #{b2_pid}
            </if>
            <if test="b0_id != null">
                and b0_id = #{b0_id}
            </if>
            <if test="b1_id != null">
                and b1_id = #{b1_id}
            </if>
            <if test="b2_content != null">
                and b2_content = #{b2_content}
            </if>
            <if test="create_time != null">
                and create_time = #{create_time}
            </if>
            <if test="modify_time != null">
                and modify_time = #{modify_time}
            </if>
        </where>
        <if test="sortString != null and sortString != ''">
            order by ${sortString}
        </if>
        LIMIT 0,5
    </select>



    <select id="queryComments" parameterType="com.lyl.web.vo.BL_CommentVO" resultMap="Base_Result_Map_CommentVo">
        select
        b2_id,
        b2_pid,
        b0_id,
        b0_name,
        b1_id,
        b2_content,
        create_time,
        modify_time
        from bl_comment
        <where>
            <if test="b2_id != null">
                and b2_id = #{b2_id}
            </if>
            <if test="b2_pid != null">
                and b2_pid = #{b2_pid}
            </if>
            <if test="b0_id != null">
                and b0_id = #{b0_id}
            </if>
            <if test="b1_id != null">
                and b1_id = #{b1_id}
            </if>
            <if test="b2_content != null">
                and b2_content = #{b2_content}
            </if>
            <if test="create_time != null">
                and create_time = #{create_time}
            </if>
            <if test="modify_time != null">
                and modify_time = #{modify_time}
            </if>
        </where>
        <if test="sortString != null and sortString != ''">
            order by ${sortString}
        </if>
    </select>
    <select id="selectCommentsByPidIsNull" resultMap="Base_Result_Map_CommentVo">
        select
        *
        from
        bl_comment
        WHERE
        b2_pid` = #{b2_pid} order by 'create_time'
        <!--select  * from bl_comment-->
        <!--<where>-->
        <!--<if test="b2_id != null">-->
        <!--b2_pid = #{b2_id}-->
        <!--</if>-->
        <!--</where>-->
    </select>
</mapper>