<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyl.web.mapper.PictureMapper">
    <resultMap id="Base_Result_Map_Picture" type="com.lyl.web.entity.Picture">
        <id column="pic_id" jdbcType="BIGINT" property="pic_id" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="category_id" jdbcType="INTEGER" property="category_id" />
        <result column="create_time" jdbcType="VARCHAR" property="create_time" />
        <result column="modify_time" jdbcType="VARCHAR" property="modify_time" />
    </resultMap>
    <!-- 根据ID查询图片 -->
    <select id="findPictureById" parameterType="java.lang.Integer" resultMap="Base_Result_Map_Picture">
        select
        *
        from picture
        <where>
            <if test="_parameter != null">
                pic_id = #{_parameter}
            </if>
        </where>
    </select>
    <!-- 查夜某一天的图片 -->
    <select id="findPicturesByDay" parameterType="java.util.Date" resultMap="Base_Result_Map_Picture">
        select
        *
        from picture
        <where>
            <if test="theDate != null">
                <![CDATA[ to_days(create_time) = to_days(#{theDate,jdbcType=DATE})  ]]>
            </if>
        </where>
    </select>
    <!-- 查询时间线 -->
    <select id="findAllTimeline" resultType="com.lyl.web.vo.TimelineVO">
        select
        DATE_FORMAT(create_time,'%d月，%Y') as timeString,count(*) as sumCoun
        from picture
        where date_format(create_time,'%Y')=date_format(now(),'%Y')
        GROUP BY  DATE_FORMAT(create_time,'%d月，%Y')
        ORDER BY DATE_FORMAT(create_time,'%d月，%Y') desc
        LIMIT 0,3
</select>
    <!-- 查询最新一张图片 -->
    <select id="findTheLatestPicture" resultMap="Base_Result_Map_Picture">
        select * from picture order by create_time desc limit 0,1
    </select>
    <!-- 根据分类查询图片 -->
    <select id="findPicturesByCategoryId" parameterType="java.lang.Integer" resultMap="Base_Result_Map_Picture">
        select * from picture
        <where>
            <if test="_parameter != null">
                category_id = #{_parameter}
            </if>
        </where>
    </select>
    <!-- 根据时间线查询图片 -->
    <select id="findPicturesByTimeline" parameterType="java.lang.String" resultMap="Base_Result_Map_Picture">
        select *
        from picture
        <where>
            <if test="_parameter != null">
                DATE_FORMAT(create_time,'%d月，%Y') = #{_parameter}
            </if>
        </where>
    </select>
    <!-- 新增图片-->
    <insert id="insertNewPicture" useGeneratedKeys="true" keyProperty="pic_id" parameterType="com.lyl.web.entity.Picture">
        insert into picture(pic, category_id) values(#{pic}, #{category_id})
    </insert>
</mapper>